<!DOCTYPE html>
<html>

<head>
  <meta title="控制台">
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.2.2/theme-chalk/index.css">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.2.2/index.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
  <style>
    .vertical-container {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }

    .form { 
      display: block;
      width: 448px;
      height: 800px;
    }

    .card { 
      display: block;
      width: 80%;
      height: 800px;
      padding: 18px 10px;
    }

    .mask {
      filter: blur(2px)
    }

    hr {
      margin-bottom: 18px;
      border: 0;
      height: 2px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #666666, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #666666, #f0f0f0);
    }
  </style>
</head>

<body>
  <div id="app">
    <el-container>
      <el-header style="text-align: right; font-size: 12px">
        <el-button @click="logOut" style="margin-right: 30px" type="primary">登出</el-button>
      </el-header>
      <el-container>
        <el-aside width="25%">
            <el-card style="margin-left: 10%; margin-top: 20px;">
              <div>
                <strong>&nbsp; 选择操作模式</strong>
                <div>
                <el-radio-group v-model="mode" style="margin-top: 16px">
                    <el-radio-button label="append">新增模式</el-radio-button>
                    <el-radio-button label="edit">编辑模式</el-radio-button>
                  </el-radio-group>
                </div>
              </div>
              <div style="margin-top: 20px" v-if="mode == 'edit'">
                <el-table
                  :data="companyTable"
                  highlight-current-row
                  stripe
                  border
                  @row-click="handleTableCurrentRow"
                  style="width: 100%">
                  <el-table-column
                    type="index"
                    width="50px">
                  </el-table-column>
                  <el-table-column
                    label="公司名称"
                    prop="name">
                    <template slot-scope="scope">
                      <span style="float: left;">{{ scope.row.name }}</span>
                    </template>
                  </el-table-column>  
                </el-table>
              </div>
              <div v-else-if="mode == 'append'">
                append
            </div>
            </el-card>
        </el-aside>
        <el-main v-bind:class="{mask: !mode}">
          <div class="vertical-container">
            <div class="form">
              <el-form :model="form" ref="form" label-width="125px">
                <el-form-item label="公司名称">
                  <el-input v-model="form.company" placeholder="form.company"></el-input>
                </el-form-item>
                <el-form-item label="公司主页">
                  <el-input v-model="form.domain" placeholder="form.domain"></el-input>
                </el-form-item>
                <hr/>
                <div>
                  <div v-for="(cate, index) in form.category" :key="cate.url.key">
                    <el-form-item 
                      :label="'栏目名称' + index"
                      :rules="{
                        required: true, message: '栏目名称不能为空', trigger: 'blur'
                      }"
                    >
                      <el-input v-model="cate.name" placeholder="cate.name"></el-input>
                    </el-form-item>
                    <el-form-item 
                      :label="'栏目地址' + index"
                      :rules="{
                        required: true, message: '栏目地址不能为空', trigger: 'blur'
                      }"
                    >
                      <el-input v-model="cate.url" placeholder="cate.url"></el-input>
                      <div style="float: right">
                        <el-button type="danger" round size="small" @click.prevent="removeCategory(cate)">删除 此栏目</el-button>
                      </div>
                    </el-form-item>
                  </div>
                  <el-button style="margin-left: 20%; margin-bottom: 18px" type="primary" @click.prevent="addCategory">新增栏目</el-button>
                </div>
                <el-form-item label="分类">
                  <el-select v-model="form.condition" placeholder="form.condtion">
                    <el-option label="0" value="0"></el-option>
                    <el-option label="1" value="1"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="Directly" prop="is_direct">
                  <el-switch v-model="form.is_direct" placeholder="form.is_direct"></el-switch>
                </el-form-item>
                <hr/>
                <div v-if="form.condition == 1">
                  <el-form-item
                    label="JSON地址规则"
                    :rules="{
                      required: true, message: 'JSON地址规则不能为空', trigger: 'blur'
                    }"
                   >
                    <el-input v-model="form.article_url_rule" placeholder="form.article_url_rule"></el-input>
                  </el-form-item>
                  <el-form-item 
                    v-if="!form.isDirect" 
                    label="文章页面地址"
                    :rules="{
                      required: true, message: '文章页面地址不能为空', trigger: 'blur'
                    }"
                  >
                    <el-input v-model="form.article_middle_url_rule" placeholder="form.article_middle_url_rule"></el-input>
                  </el-form-item>
                  <el-form-item 
                    label="文章查询地址"
                    :rules="{
                      required: true, message: '文章查询地址不能为空', trigger: 'blur'
                    }"
                  >
                    <el-input v-model="form.article_query_url" placeholder="form.article_query_url"></el-input>
                  </el-form-item>
                </div>
                <el-form-item label="文章标题规则">
                  <el-input v-model="form.article_title_rule" placeholder="form.article_title_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章作者规则">
                  <el-input v-model="form.article_author_rule" placeholder="form.article_author_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章发布时间规则">
                  <el-input v-model="form.article_publish_time_rule" placeholder="form.article_publish_time_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章正文规则">
                  <el-input v-model="form.article_content_rule" placeholder="form.article_content_rule"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="testForm">测试</el-button>
                  <el-button @click="resetForm">重置</el-button>
                  <el-button v-if="mode == 'edit'" style="margin-left: 75px" type="danger" round @click="submitEdit" size="small">提交修改</el-button>
                  <el-button v-else-if="mode == 'append'" style="margin-left: 75px" type="danger" round @click="submitAppend" size="small">新增记录</el-button>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </el-main>
        <el-aside v-bind:class="{mask: !mode}" width="40%">
          <div class="vertical-container">
            <el-card class="card">
              <div v-for="(v, k) in res_form" :key="k.key" style="padding: 10px 0">
               {{ k }}: {{ v }}
              </div>
            </el-card>
          </div>
        </el-aside>
      </el-container>
    </el-contaienr>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: function () {
      return {
        mode: '',
        needMaskEdit: true,
        form: {
          'company': '',
          'domain': '',
          'category': [{
            'name': '',
            'url': '',
          }],
          'condition': 0,
          'is_direct': false,
          'article_url_rule': '',
          'article_middle_url_rule': '',
          'article_query_url': '',
          'article_title_rule': '',
          'article_author_rule': '',
          'article_publish_time_rule': '',
          'article_content_rule': '',
        },
        companyTable: [],
        currentCompany: '',
        res_form: {

        }
      };
    },
    created: function () {
      this.checkLogIn();
    },
    mounted: function() {
      this.getAllCompany();
    },

    methods: {
      checkLogIn() {
        axios.get('/api/checkLogIn')
          .then(
            response => {
              if (response.data['status']=='fail'){
                window.location.href='/login?next=/console';
              }
            }
          )
          .catch(
            error => {
              console.log()
            }
          )
      },

      getAllCompany() {
        axios.get('/api/get_all_company')
          .then(
            response => {
              this.companyTable = response.data
            }
          )
      },

      logOut() {
        axios.get('/api/logout')
          .then(
            window.location.href = '/login'
          )
      },

      submitAppend() {

      },

      submitEdit() {
        this.$confirm('确认修改?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // todo post修改数据
          this.$message({
            type: 'success',
            message: '修改成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消修改'
          });          
        });
      },

      testForm() {
        let res = {}
        for (item in this.form) {
          res[item] = this.form[item]
        }
        axios.post('/api/test', data=res)
          .then(
            response => {
              if (response.data.status == 'success') {
                this.res_form = response.data['res']
              }
            }
          )
          .catch(
            error => {
              console.log(error)
            }
          )
      },

      resetForm() {
        this.$confirm('确认重置表单?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.get('/api/get_company?company=' + this.currentCompany)
            .then(
              response => {
                this.form = response.data['form']
              }
            )
          this.$message({
            type: 'success',
            message: '重置成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消重置'
          });          
        });
      },

      removeCategory(item) {
        this.$confirm('确认删除?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          var index = this.form.category.indexOf(item)
          if (index !== -1) {
            this.form.category.splice(index, 1)
          }
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
      },

      addCategory() {
        this.form.category.push({
          'name': '',
          'url': '',
        });
      },

      handleTableCurrentRow(row, event, column) {
        this.currentCompany = row.name
        axios.get('/api/get_company?company=' + this.currentCompany)
          .then(
            response => {
              this.form = response.data['form']
            }
          )

      },
    }
  })
</script>

</html>