<!DOCTYPE html>
<html>

<head>
  <meta title="控制台">
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.2.2/theme-chalk/index.css">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.2.2/index.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
  <style>
    .vertical-container {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }

    .form {
      display: block;
      width: 448px;
      height: 700px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-container>
      <el-header>

      </el-header>
      <el-container>
        <el-main style="margin-right: 30%">
          <div class="vertical-container">
            <div class="form">
              <el-form :model="form" ref="form" label-width="125px">
                <el-form-item label="公司名称">
                  <el-input v-model="form.company" placeholder="form.company"></el-input>
                </el-form-item>
                <el-form-item label="公司主页">
                  <el-input v-model="form.domain" placeholder="form.domain"></el-input>
                </el-form-item>
                <el-form-item label="栏目名称"> <!--TODO 循环多个 -->
                  <el-input v-model="form.category" placeholder="form.category"></el-input>
                </el-form-item>
                <el-form-item label="栏目地址">
                  <el-input v-model="form.categoryUrl" placeholder="form.categoryUrl"></el-input>
                </el-form-item>
                <el-form-item label="分类">
                  <el-select v-model="form.condition" placeholder="form.condtion">
                    <el-option label="0" value="0"></el-option>
                    <el-option label="1" value="1"></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="Directly" prop="isDirect">
                  <el-switch v-model="form.isDirect" placeholder="form.isDirect"></el-switch>
                </el-form-item>
                <el-form-item label="JSON地址规则">
                  <el-input v-model="form.article_url_rule" placeholder="form.article_url_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章页面地址">
                  <el-input v-model="form.article_middle_url_rule" placeholder="form.article_middle_url_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章查询地址">
                  <el-input v-model="form.article_query_rule" placeholder="form.article_query_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章标题规则">
                  <el-input v-model="form.article_title_rule" placeholder="form.article_title_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章作者规则">
                  <el-input v-model="form.article_author_rule" placeholder="form.article_author_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章发布时间规则">
                  <el-input v-model="form.article_publish_time_rule" placeholder="form.article_publish_time_rule"></el-input>
                </el-form-item>
                <el-form-item label="文章正文规则">
                  <el-input v-model="form.article_content_rule" placeholder="form.article_content_rule"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="submitForm('form')">提交</el-button>
                  <el-button @click="resetForm('form')">重置</el-button>
                  <el-button type="danger" round @click="editForm" size="small">提交修改</el-button>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </el-main>
        <el-aside width="400px">
          Aside
        </el-aside>
      </el-container>
    </el-contaienr>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: function () {
      return {
        form: {
          'company': '',
          'isDirect': false,
        },
      };
    },
    created: function () {
      this.checkLogIn();
    },
    methods: {
      checkLogIn() {
        axios.get('/api/checkLogIn')
          .then(
            response => {
              if (response.data['status']=='fail'){
                window.location.href='/login?next=/console';
              }
            }
          )
          .catch(
            error => {
              console.log()
            }
          )
      },
      editForm() {}
    }
  })
</script>

</html>