apistar==0.3.9
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
html2text==2018.1.9
idna==2.6
itypes==1.1.0
Jinja2==2.10
lxml==4.2.0
MarkupSafe==1.0
more-itertools==4.1.0
peewee==3.1.5
pluggy==0.6.0
py==1.5.3
PyMySQL==0.8.0
pytest==3.5.0
redis==2.10.6
requests==2.18.4
selenium==3.11.0
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
Werkzeug==0.15.3
whitenoise==3.3.1
